  			<!-- Desde este punto se muestra toda la lista de cantantes -->
  			<h2>Mis Cantantes:</h2>
				<ul class="cantantes">
				  <li *ngFor="let cantanteLeido of lista_cantantes"  (click)="onSelect(cantanteLeido)"    [class.selected]="cantanteLeido == cantante_seleccionado">
				    <!-- cada cantante va aqui -->

				    <span class="badge">{{cantanteLeido.id}}</span> {{cantanteLeido.name}}

				  </li>
				</ul>

        <!-- Desde este punto se muestra toda la lista de cantantes -->
        <div *ngIf="cantante_seleccionado">
            <h2>
              {{cantante_seleccionado.name | uppercase}} es mi cantante
            </h2>
            <button (click)="iraDetalles()">Ver Detalles</button>
        </div> 
